<a style='color:black' href="#/">Homepage</a>

<div class = 'container-fluid'>
	<div row = 'row-fluid'>
		<div class='col-md-6' ng-model="product1">
	  	<button style="margin-bottom: 60px" ng-click='newMatch(1)' type="button" class="btn btn-success">Vote for Me</button>
			<div class='vs'><h3>Title: </h3>{{product1.title}}</div>
	  	<div class='vs'><img src="/assets/image1.jpg"/> </div>
	  	<div class='vs'><h3>Website: </h3>{{product1.link}}</div>
	  	<div class='vs'><h3>Description: </h3>{{product1.description}} </div>
		</div>

		<div class='col-md-6' ng-model="product2">
	  	<button style="margin-bottom: 60px" ng-click='newMatch(2)' type="button" class="btn btn-success">Vote for Me</button>
			<div class='vs'><h3>Title: </h3>{{product1.title}}</div>
	  	<div class='vs'><img src="/assets/image2.jpg"/> </div>
	  	<div class='vs'><h3>Website: </h3>{{product1.link}}</div>
	  	<div class='vs'><h3>Description: </h3>{{product1.description}} </div>
		</div>	
	</div>
</div